@import "./../../../../variables.scss";

.contact{

    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    height: 100vh;
    display: table;

    .container{
        display: table-cell;
        vertical-align: middle;
    }

    .contact-title{

        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        white-space: nowrap;
        font-size: 60px;
        font-weight: 600;
        color: $LightestSlate;
        margin: auto;
        width: fit-content;
    }
    .contact-pre-title{
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 10px 0 40px;
        width: 100%;
        white-space: nowrap;
        font-size: 32px;
        display: block;
        color: $Green;
        font-size: 16px;
        font-family: $CodeFont;
        font-weight: normal;
        margin-bottom: 20px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }

    .contact-form-container {
        max-width: 500px;
        margin: 0 auto;
    }

    .contact-form {
        .form-group {
            margin-bottom: 25px;
            text-align: left;
        }

        .form-input {
            width: 100%;
            padding: 15px;
            background-color: $LightNavy;
            border: 1px solid $LightestNavy;
            border-radius: 4px;
            color: $LightestSlate;
            font-family: $CodeFont;
            font-size: 14px;
            transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

            &:focus {
                outline: none;
                border-color: $Green;
                background-color: rgba($LightNavy, 0.8);
            }

            &::placeholder {
                color: $Slate;
            }

            &.error {
                border-color: #ff6b6b;
            }
        }

        textarea.form-input {
            resize: vertical;
            min-height: 120px;
        }

        .error-message {
            color: #ff6b6b;
            font-size: 12px;
            font-family: $CodeFont;
            margin-top: 5px;
            text-align: left;
        }

        .success-message {
            color: $Green;
            font-size: 14px;
            font-family: $CodeFont;
            margin-top: 20px;
            padding: 15px;
            background-color: rgba($Green, 0.1);
            border: 1px solid $Green;
            border-radius: 4px;
        }

        .form-submit {
            margin-top: 30px;
            text-align: center;

            button {
                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }
    }

}

@media (max-width: 768px){
    
    .contact{
        height: 100vh;
        padding: 0 20px !important;
        margin: 0 auto !important;
        display: table;

        .container{
            display: table-cell;
            vertical-align: middle;
        }

        .contact-title{
            font-size: 40px;
        }

        p{
            padding: 0 10px;
        }
    }
}